<section class="stats-wrapper">
  <h1 class="stats-title">All Providers Dashboard</h1>
  <div class="stats-container">
    <!-- <iframe
      title="First Draft All Projects"
      class="stats-iframe"
      src="https://app.powerbi.com/view?r=eyJrIjoiYmJjNGFmNTktYTIzYi00MDU2LTg5OWQtMmE3MGIwMDI1ZDBiIiwidCI6IjJjM2U0MzY5LTAxNjMtNDE5Zi05NGY1LTZlZTdkNTIwZWRkZiJ9"
      frameborder="0"
      allowFullScreen="true"
    ></iframe> -->
    <iframe
      title="All Projects"
      width="600"
      height="373.5"
      src="https://app.powerbi.com/view?r=eyJrIjoiMGM2YTgwNGUtODU3NC00MjA5LWFjYmYtZjk5YmI1ZmI5ZThmIiwidCI6IjJjM2U0MzY5LTAxNjMtNDE5Zi05NGY1LTZlZTdkNTIwZWRkZiJ9"
      frameborder="0"
      allowFullScreen="true"
    ></iframe>
  </div>
</section>
