.f-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-top: 1px solid var(--secondary-color);
}
.f-copyright {
  text-align: center;
  font-size: 0.8rem;
}
