.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 8vh;
  background: #e5f1ff;
}
.nav-splash-page {
  background: none;
  position: absolute;
}
.nav-logo {
  height: 80%;
  z-index: 1;
  cursor: pointer;
}
.nav-links {
  display: flex;
  justify-content: right;
  width: 60%;
}
.hide {
  display: none;
}
.nav-link {
  margin-right: 40px;
  text-decoration: none;
  color: var(--primary-text);
  padding: 3px 0;
  font-size: 0.9rem;
  transition: transform 300ms ease-out;
}
.nav-link:hover {
  transform: scale(1.05);
}
