<div class="splash-hero"></div>
<h1 class="splash-title">Spokane County Provider Stats Hub</h1>
<div class="instructions">
  <p>City of Spokane Service Provider Stats Dashboard</p>
  <button class="button" (click)="openAllProjectsStats()">
    All Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openEsStats()">
    All ES Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openFamPromPreventionStats()">
    FPS Prevention/Diversion Dashboard
  </button>

  <!--  -->
  <button class="button" (click)="openAllProjectsStats()">
    All Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openEsStats()">
    All ES Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openFamPromPreventionStats()">
    FPS Prevention/Diversion Dashboard
  </button>
  <button class="button" (click)="openAllProjectsStats()">
    All Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openEsStats()">
    All ES Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openFamPromPreventionStats()">
    FPS Prevention/Diversion Dashboard
  </button>
  <button class="button" (click)="openAllProjectsStats()">
    All Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openEsStats()">
    All ES Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openFamPromPreventionStats()">
    FPS Prevention/Diversion Dashboard
  </button>
  <button class="button" (click)="openAllProjectsStats()">
    All Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openEsStats()">
    All ES Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openFamPromPreventionStats()">
    FPS Prevention/Diversion Dashboard
  </button>
  <button class="button" (click)="openAllProjectsStats()">
    All Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openEsStats()">
    All ES Providers Dashboard
  </button>
  <br />
  <button class="button" (click)="openFamPromPreventionStats()">
    FPS Prevention/Diversion Dashboard
  </button>
</div>
