<div class="sp-hero"></div>
<h1 class="sp-title">Spokane County Provider Stats Hub</h1>
<div class="sp-buttons">
  <!-- <div class="sp-button" (click)="openAllProjectsStats()">Providers Dash</div>
  <div class="sp-button" (click)="openEsStats()">ES Providers Dash</div>
  <div class="sp-button" (click)="openFamPromPreventionStats()">
    FPS Prevention Dash
  </div> -->
  <a class="sp-button" routerLink="/providers">All Providers Dashboard</a>
  <a class="sp-button" routerLink="/es-providers">All ES Providers Dashboard</a>
  <a class="sp-button" routerLink="/fps-prevention">FPS Prevention Dashboard</a>
  <a class="sp-button" routerLink="/providers-demo">Demo / Mock Up Future Dashboard</a>
</div>
