.instructions {
  border: 5px solid;
  margin: auto;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  width: 50%;
  padding: 10px;
  text-shadow: 1px 1px 1px hsl(160, 16%, 26%);
  color: hsl(160, 16%, 26%);
}

.span {
  float: auto;
  margin: auto;
  text-align: center;
}

.button:hover {
  background-color: #002ead;
  color: white;
  transition: 0.7s;
}

.button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

.button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
  transition: 0.7s;
}

.button:active {
  background-color: #ffbf00;
}
