.container {
  max-width: 800px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
thead tr:first-child td {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  font-weight: bold;
  text-align: center;
}

thead tr:last-child td {
  border-bottom: none;
}

tbody td:first-child,
tbody th:first-child {
  font-weight: bold;
}

tbody td,
tbody th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.population td:first-child,
.families-with-children td:first-child {
  font-weight: normal;
}

.population td {
  background-color: #f2f2f2;
  font-weight: bold;
}

.families-with-children:nth-child(odd) td {
  background-color: #f2f2f2;
}

.families-with-children:nth-child(even) td {
  background-color: #fff;
}
