<section class="h-wrapper" [ngClass]="{ 'slide-in': hamburger }">
  <div
    class="h-container"
    [ngClass]="{ 'slide-in': hamburger }"
    appClickedOutside
    (clickedOutside)="hideHamburger()"
  >
    <div class="h-icon-container">
      <i
        class="material-icons h-close-icon"
        (click)="toggleHamburger($event)"
        >{{ "close" }}</i
      >
    </div>
    <div class="h-links">
      <a
        class="h-link"
        routerLink="/providers"
        appClickedOutside
        (clickedOutside)="hideHamburger()"
        >All Providers Dashboard</a
      >
      <a
        class="h-link"
        routerLink="/es-providers"
        appClickedOutside
        (clickedOutside)="hideHamburger()"
      >
        All ES Providers Dashboard
      </a>
      <a
        class="h-link"
        routerLink="/fps-prevention"
        appClickedOutside
        (clickedOutside)="hideHamburger()"
        >FPS Prevention Dashboard
      </a>
    </div>
  </div>
</section>
