.h-container {
  background-color: var(--primary-color);
  height: 100vh;
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  z-index: 1;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px 0 black;
}
.h-icon-container {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 8vh;
  width: 100%;
}
.h-close-icon {
  font-size: 2.2rem;
  padding: 3px;
  color: var(--tertiary-color);
  cursor: pointer;
  border-radius: 50%;
  transition: transform 300ms ease-out, background-color 200ms ease-out;
}
.h-close-icon:active {
  transform: scale(1.15);
  background-color: var(--secondary-color);
}
